includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    stubFiles:
            - larastan/auth-manager.stub.php
            - larastan/tymon-jwt-auth.stub.php
            - larastan/tymon-jwt-subject.stub.php
            - larastan/belongsToTrough.stub.php
    paths:
        - app/

    # Level 9 is the highest level
    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
